body {
    margin : 0;
    padding : 0;
    font-family : sans-serif;
}

.timeline {
    position : relative;
    margin : 20px auto;
    padding : 40px 0;
    width: 1000px;
    border-top: 5px solid black;
}

.timeline:before 
{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: red;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(even)
{
    float: left;
    text-align : right;
    clear: both;
}

.timeline ul li:nth-child(odd)
{
    float: right;
    text-align : left;
    clear: both;
}

.content
{
    padding-bottom: 20px;
    padding-top: -20px;
    margin-top: -22px;
    top: 10px;
    text-align: justify;
}

.timeline ul li:nth-child(odd):before
{
    content:'';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: blue;
    border radius: 100%;
}

.timeline ul li:nth-child(even):before
{
    content:'';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: blue;
    border radius: 100%;
}

.timeline ul li:nth-child(odd) .content h3 {
    font-weight: 600;
    color: red;
}

.timeline ul li:nth-child(even) .content h3 {
    font-weight: 600;
    color: green;
}

.timeline ul li:nth-child(odd) .time
{
    position: absolute;
    top: 18px;
    left: -160px;
    background-color: red;
    color: white;
    padding: 0px 16px;
    border-radius: 18px;
}

.timeline ul li:nth-child(even) .time
{
    position: absolute;
    top: 18px;
    right: -150px;
    background-color: green;
    color: white;
    padding: 0px 16px;
    margin: 0;
    border-radius: 18px;
}

h4 
{
    padding: 2px 0px;
    margin: 0;
    font-size: 14px:
}

.time .project {
    left: 200px;
}
